/* Header.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background: white;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
    overflow-x: hidden;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 5px 16px;
    padding: 10px 2px;
}

.sidebar nav ul li a {
    color: rgb(40, 39, 39);
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.sidebar nav ul li a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: -14px;
    right: 25px;
    font-size: 36px;
}

@media (max-width: 992px) {
    .header-top-right-inner {
        display: none;
    }

    .gi-header-buttons .gi-site-menu-icon {
        display: inline-block;
    }
}

.category-dropdown .dropdown ul li a {
    color: #575757;
    font-size: 13px;
    padding: 0px 6px;
}

/* App.css */
.sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.sidebar.open {
    right: 0;
}


.sort-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
}

.filter-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-item {
    margin: 0.5rem 0;
}

.filter-link {
    text-decoration: none;
    color: #234;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-text {
    flex: 1;
}

.small-icon {
    font-size: 12px;
    /* Smaller size for the icon */
    color: #666;
    /* Better color for the icon */
}

/* .color-filter-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.color-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.back-button,
.close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.search-container input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
}


/* Customize scrollbar */
.filter-sec {
    max-height: 660px;
    overflow-y: auto;
}

.filter-sec::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.filter-sec::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.filter-sec::-webkit-scrollbar-thumb {
    background: #c4c0c0;
    border-radius: 6px;
}

/* Handle on hover */
.filter-sec::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Customize scrollbar end */


.color-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

.color-item {
    /* Add your existing styles */
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
}

.selected {
    border: 1px solid #ff0000;
    border-radius: 5px;
    /* Border color for selected items */
}

.color-box {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid rgb(179, 176, 176);
}

.actions-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.clear-button,
.apply-button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 5px;
}

.clear-button {
    background-color: #f5f5f5;
}

.apply-button {
    background-color: #ff5722;
    color: #fff;
}

@media (max-width: 400px) {
    .color-filter-container {
        width: 100%;
    }
}

.large-checkbox {
    height: 10px;
    width: 10px;
    transform: scale(0.8);
  }


.gi-main{
    display: flex;
    align-items: center;
    height: auto;
    overflow-x: scroll;
    scrollbar-color: #edb70b;
    scroll-behavior: smooth;
    scrollbar-track-color: #000;
    border: none;
    justify-content: center;
    color: #edb70b;
   
}
.gi-main ul li .links{
    color: #edb70b;
    
}

.gi-main ul {
    display: flex;
    justify-content:space-evenly;
    gap: 4rem;
}

.gi-main ul li{
    width: auto;
}

.header-slider{
    width: 92vw;
    margin: 2rem auto;
}

@media (min-width:1399px) {
    .nav-searchicon-container{
        right: 140px;
    }
    
}

@media (max-width:1398px) {
    .nav-searchicon-container{
        right: 0px;

    }

    
}

.nav-headend-img{
    height: 110px !important;
    width: 110px !important;
    object-fit: cover;
    border-radius: 50%;
}