/* Hover effect for testimonial cards */
.testimonial-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Optional: hover effect for the profile image */
.testimonial-card img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* about us section */
.about-us-header {
  text-align: left;
}

.line {
  width: 4px;
  /* vertical line width */
  height: 24px;
  /* vertical line height */
  background-color: #004085;
  /* dark blue */
}

.about-us-text {
  color: #004085;
  /* blue color */
  font-weight: 600;
  font-size: 20px;
}

.who-we-are {
  color: #dc3545;
  /* red color */
  font-weight: 700;
  margin: 0.3rem 0;
}

.dotted-line {
  border: 0;
  border-bottom: 5px dotted #0b0202;
  /* blue dotted line */
  width: 190px;
  /* adjust length */
  margin-left: 0;
}